.banner{
    background-color: black;
}

.bannerImg{
    animation: float-up-down 4s ease-in-out infinite both;
}
@keyframes float-up-down {
    0% {
        -webkit-transform:translateY(0)
    }

    50% {
        transform:translateY(-5%)
    }

    100% {
        transform:translateY(0)
    }
}